$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desat-cyan: hsl(167, 40%, 24%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$dark-blue: hsl(198, 62%, 26%);
$dark-desat-blue: hsl(212, 27%, 19%);
$darker-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$light-blue: rgb(31, 192, 255);

$font-barlow: 'Barlow',
sans-serif;
$font-fraunces: 'Fraunces',
serif;

%underline {
    content: '';
    height: 8px;
    border-radius: 6px;
    display: block;
    opacity: 35%;
}

html {
    font: 600 18px $font-barlow;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
}

a {
    text-decoration: none;
}

nav {
    font: 600 16px $font-barlow;
    list-style-type: none;

    a {
        color: white;
        margin-right: 1rem;
        padding: 0.8rem 1.2rem;
    }

    a:hover {
        background-color: hsla(0, 0%, 100%, 0.2);
        border: none;
        border-radius: 2em;
    }
}

.header-img {
    background-image: url("images/desktop/image-header.jpg");
    background-color: $light-blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 980px;
}

h1 {
    text-align: center;
    font: 700 48px $font-fraunces;
    color: white;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 50px 0px;
}

.icon-arrow {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;

    img {
        animation: MoveUpDown 2s ease-in-out infinite;
        left: 0;
        bottom: 0;
    }
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }
}

.box {
    display: flex;

    div {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        justify-content: center;
        padding: 140px;
    }

    div>* {
        margin-bottom: 30px;
    }

    h2 {
        font: 700 44px $font-fraunces;
        color: $dark-blue;
    }

    p {
        font: 600 18px $font-barlow;
        color: $dark-grayish-blue;
    }

    a {
        color: $dark-blue;
        font: 700 18px $font-fraunces;
        text-transform: uppercase;
    }

    img {
        flex: 0 0 50%;
        width: 100%;
    }
}

.yellow-underline b {
    display: inline-block;
}

.yellow-underline b::after {
    @extend %underline;
    background: $yellow;
}

.yellow-underline b:hover::after {
    opacity: 100%;
}

.red-underline b {
    display: inline-block;
}

.red-underline b::after {
    @extend %underline;
    background: $soft-red;
}

.red-underline b:hover::after {
    opacity: 100%;
}

.box-two {
    display: flex;

    article {
        flex: 0 0 50%;
        position: relative;

        div {
            position: absolute;
            bottom: 70px;
            padding: 0 180px;
            text-align: center;

            h3 {
                font: 700 32px $font-fraunces;
                color: $dark-desat-cyan;
                margin-bottom: 30px;
            }

            p {
                font: 600 17px $font-barlow;
                color: $dark-desat-cyan;
            }

            .photography {
                color: $dark-blue;
            }
        }

        img {
            width: 100%;
        }
    }
}

.box-three {
    h4 {
        text-align: center;
        font: 900 18px $font-fraunces;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: $grayish-blue;
        padding-top: 120px;
    }

    div {
        display: flex;
        text-align: center;
        padding: 80px 150px;
    }

    img {
        border-radius: 50%;
        width: 80px;
    }

    article {
        margin-right: 40px;
    }

    article>* {
        margin-bottom: 50px;
    }

    p {
        font: 600 18px $font-barlow;
        color: $darker-grayish-blue;
    }

    b {
        font: 900 20px $font-fraunces;
        color: $dark-desat-cyan;
    }

    .testimonials__position {
        font-size: 15px;
        color: $grayish-blue;
        padding-top: 10px;
    }
}

.gallery {
    display: flex;

    div {
        flex: 25%;
        max-width: 25%;
    }

    img {
        display: block;
        width: 100%;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #90d4c5;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;

    .footer__logo {
        width: 150px;
    }

    div {
        display: flex;
        gap: 30px;
    }

    .footer__links {
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 60px;

        a {
            color: $dark-moderate-cyan;
            font: 600 17px $font-barlow;
        }

        a:hover {
            color: white;
        }
    }

    div a img:hover {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3401%) hue-rotate(178deg) brightness(104%) contrast(109%);
    }

    .footer__attribution {
        margin-top: 80px;
        color: $dark-moderate-cyan;

        a {
            color: $dark-desat-cyan;
        }

        a:hover {
            color: white;
        }
    }
}